modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["sh", "-c", "pnpm --filter @workspace/api-server run start"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Mobile App"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/api-server && PORT=8080 pnpm run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Mobile App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run dev"
waitForPort = 8099

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
JWT_SECRET = "f6abfd33b3d2b80c0f5f95a966c729a4a4475f307bd087b3a77911a4c4924327"
SUPABASE_DATABASE_URL = "postgresql://postgres.fqiqyeollnnfqyqkecsd:Kartik%4012415@aws-1-ap-south-1.pooler.supabase.com:6543/postgres?uselibpqcompat=true&sslmode=require"
EXPO_PUBLIC_API_URL = "https://zip-12--vpahaddevbhoomi.replit.app/api"
EXPO_PUBLIC_WEB_ORIGIN = "https://zip-12--vpahaddevbhoomi.replit.app"
EXPO_PUBLIC_DOMAIN = "zip-12--vpahaddevbhoomi.replit.app"
